.App {
  text-align: center;
  background-color: #f1c58b;
}

.my-image{
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  margin-left:570px;
  margin-bottom: 20px;

}
.title-red{
  display: flex;
  justify-content: center;
  color: #ee3535;
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


